:root {
	--color-bg-primary-offset: #f1f3f7;
	--color-bg-secondary: #fff;
	--color-text-primary: #3a4374;
	--color-text-primary-offset: #898c94;
	--color-orange: #dc9960;
	--color-green: #1eb8b1;
	--color-purple: #657cc4;
	--color-black: var(--color-text-primary);
	--color-red: #d92027;
}

.menu {
	display: flex;
	flex-direction: column;
	position: fixed;
	background-color: var(--color-bg-secondary);
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(#0c40ce, 0.15);
}

.menu-list {
	margin: 0;
	display: block;
	width: 100%;
	padding: 8px;
	list-style: none;
	& + .menu-list {
		border-top: 1px solid #ddd;
	}
}
.menu-sub-list {
	display: none;
	padding: 8px;
	background-color: var(--color-bg-secondary);
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(#404040, 0.15);
	position: absolute;
	list-style: none;
	left: 100%;
	right: 0;
	z-index: 100;
	width: 100%;
	top: 0;
	flex-direction: column;
	// &:after {
	//   content: "";
	//   position: absolute;
	//   left: -12px;
	//   top: 0;
	//   right: 0;
	//   bottom: 0;
	//   display: block;
	//   outline: 2px solid hotpink;
	// }
	&:hover {
		display: flex;
	}
}

.menu-item {
	position: relative;
}

.menu-button {
	font: inherit;
	border: 0;
	padding: 8px 8px;
	padding-right: 66px;
	width: 100%;
	border-radius: 8px;
	display: flex;
	color: var(--color-text-primary);
	align-items: center;
	cursor: pointer;
	position: relative;
	background-color: var(--color-bg-secondary);
	&:hover {
		background-color: var(--color-bg-primary-offset);
		& + .menu-sub-list {
			display: flex;
		}
		svg {
			stroke: var(--color-text-primary);
		}
	}
	svg {
		width: 20px;
		height: 20px;
		margin-right: 10px;
		stroke: var(--color-text-primary-offset);
		&:nth-of-type(2) {
			margin-right: 0;
			position: absolute;
			right: 8px;
		}
	}

	Check {
		margin-left: auto;
	}

	.link-icon {
		margin-left: auto;
		margin-right: -10px;

		svg {
			height: 14px;
			width: 14px;
		}
	}

	&--delete {
		&:hover {
			color: var(--color-red);
			svg:first-of-type {
				stroke: var(--color-red);
			}
		}
	}

	&.right-icon {
		padding-right: 10px;
	}

	.likes,
	.cost {
		margin-left: auto;
		font-size: 12px;
		font-weight: 600;
	}

	&--orange {
		svg:first-of-type {
			stroke: var(--color-orange);
		}
	}

	&--green {
		svg:first-of-type {
			stroke: var(--color-green);
		}
	}
	&--purple {
		svg:first-of-type {
			stroke: var(--color-purple);
		}
	}
	&--red {
		svg:first-of-type {
			stroke: var(--color-red);
		}
	}
	&--black {
		svg:first-of-type {
			stroke: var(--color-black);
		}
	}

	&--checked {
		svg:nth-of-type(2) {
			stroke: var(--color-purple);
		}
	}
}
